.App {
  text-align: center;
  background-color: #e9ecef;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-info {
  margin-top: 10px;
}

.table-heading {
  background-color: #d11948;
  color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #c0c0c0;
}

.tracker-table {
  width: 80%;
  height: 400px;
  overflow: auto;
  margin: auto;
}

.tracker-table tr {
  cursor: pointer;
}

table thead {
  background: #fff;
}

table thead {
  position: sticky;
}

table thead {
  inset-block-start: 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.chart-graph {
  margin: 1rem;;
}

.image-nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-nav-single {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-nav img, 
.image-nav-single img {
  width: 100px;
  height: 100px;
  animation: App-logo-spin infinite 20s linear;
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:10vh;
  /* background-color: rgb(73,79,82); */
  color:white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

path {
  pointer-events: all;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

#contact-form{
  width: 50%;
  margin-left:25%;
}


/* ----  STYLING FOR CHARTIST ---- */
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: green;
  /* Control the thikness of your lines */
  stroke-width: 2px;
  /* Create a dashed line with a pattern */
  stroke-dasharray: 10px 20px;
}

.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: blue;
  /* Size of your points */
  stroke-width: 4px;
  /* Make your points appear as squares */
  stroke-linecap: square;
}

#chart1,
#chart2,
#chart3,
#chart4 {
  background-color: #a9bcd0;
}

footer {
  padding: 20px;
  margin: 20px;
  background-color: #d11948;
  color: #fff;
}

footer ul {
  margin-left: 0px;
  padding-left: 0px;
}

footer a {
  color: #fff;
}

footer li {
  list-style: none;
  color: #fff;
  cursor: pointer;
  margin: 20px;
}

